:root {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
html,
body,
#root {
  min-height: 100%;
  margin: 0;
}
body {
  font-family: system-ui, sans-serif;
  background: var(--bg-color);
  color: var(--text-color);
}
